@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Space+Grotesk:wght@300..700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 box-border p-0 font-montserrat;
  }

  html {
    @apply scroll-smooth text-[16px] antialiased;
  }

  #root {
    @apply flex min-h-screen w-full flex-col items-center overflow-hidden bg-white text-slate-900;
  }

  textarea {
    @apply resize-none;
  }

  .container {
    @apply max-sm:!px-4;
  }
}

@layer components {
  .navActive::after {
    content: '';
    @apply absolute -bottom-1 left-0 h-0.5 w-full rounded-lg bg-primary;
  }
}

/* SPACES */
@layer utilities {
  .content-space {
    @apply mt-8 xl:mt-14;
  }

  .content-space-lg {
    @apply mt-16 xl:mt-28;
  }

  .page-space-main-first {
    @apply pt-28 lg:pt-32 xl:pt-44;
  }

  .page-space-first {
    @apply pb-24 pt-28 lg:pb-20 lg:pt-32 xl:pb-24 xl:pt-36;
  }

  .page-space {
    @apply pb-12 pt-8 lg:pb-16 lg:pt-10 xl:pb-24 xl:pt-14;
  }
}

/* GRADIENTS */
@layer utilities {
  .pageGradient {
    background: var(--bg-linear-1, linear-gradient(135deg, #fff 8.63%, #eef2ff 90.45%));
  }

  .rectangleGradient {
    background: linear-gradient(
      185deg,
      rgba(255, 255, 255, 0.05) 4.64%,
      rgba(255, 255, 255, 0.1) 92.11%
    );

    background-blend-mode: plus-lighter;
  }
}

/* COLORS */
@layer base {
  :root {
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --muted-foreground-2: 0 0% 83.1%;
  }
}
